body { font-family: "graublau web", "roboto slab", serif; }
h1 { font-size: 3.5em; }
h2 { font-size: 2em; }

article { 
	margin: 2em;
	padding:8em 2em 16em 2em;
	background-color: #ddd;
	border-radius: 0.5%;
}

section {
	margin: 1em;
	padding: 1.5em;
	background-color: #eee; 
	border-radius: 0.4em;
}

.highlighted {
	margin: 0.3em;
	padding: 0.4em;
	background-color: white;
}